<!DOCTYPE html>
<html lang="en">
    <title>
        FlappyPrint
    </title>
    <head>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1"> /-->
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
        <script src="/static/phaser.min.js"></script>
        <script src="/static/main.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
      <div class="game-container">
        <div id="game"></div>
        <p>
          Your score: <span id="game-score"></span>
        </p>
        <input id="name" type="text" placeholder="Your name">
        <button class="fancy" id="submit-button">Submit</button>
        <br>
        <br>
        <button class="fancy green" id="restart-button">Restart Game</Button>
      </div>
        <div class="leaderboard">
            <h1>Leaderboard</h1>
            <!--<table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table> /-->

            <ol class="scores">
                {% for score in scores %}
                <li>
                    <span class="name">
                        {{ score[0] }}
                    </span>
                    <span class="score">
                        {{ score[1] }}
                    </span>
                </li>
                {% endfor %}
            </ol>
        </div>
        </div>
    </body>
</html>